<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DB Info</title>
</head>
<body>
  <h1>Database Tables</h1>
  <ul>
    <% tables.forEach(function(r) { %>
      <li><%= r.table %>: <%= r.column %> (<%= r.type %>)</li>
    <% }); %>
  </ul>
  <h1>Observations records</h1>
  <ul>
    <% let count = 0 %>
    <% obs.forEach(function(r) { %>
      <!-- <% let taskID = parseInt(r.tasks_id) %>
      <% console.log(tasks[taskID]) %> -->
      <p>Records for student <b><%= students[r.student_id].name %></b>:</p>
      <li>Record <%= r.id %> of student <%= students[r.student_id].name %> for tasks <%= r.tasks_id %> with duration of "+<%= r.duration.minutes || "00" %>:<%= r.duration.seconds || "00" %>" Minutes</li>
      <% count++; %>
      <% if (count === obs.length) { %>
        <hr>
        <% count = 0; %>
      <% } %>
    <% }); %>

  </ul>
</body>
</html>